# Developer-only dependency for element_navigation_prototype.py.
# Not part of Remote Mic runtime requirements or candidate packaging.
# Project: https://github.com/yinkaisheng/Python-UIAutomation-for-Windows
# License: Apache-2.0
uiautomation==2.0.29
